{% extends "layout.html" %}

{% block title %} Welcome {% endblock %}

{% block main %}

<div class="ui divider"></div>

<h2 style="color: white;font-size: 60px;line-height: 0em;margin-top: 1.2em;" class="ui huge header heading-in-mobile">
  Notes Ever</h2>

<h6 style="color: gainsboro" class="ui medium header sub-heading-in-mobile">A complete solution for teachers to
  share notes with students</h6>


<div style="padding-top:5%; padding-bottom: 5%;">
  <div class=" ui cards centered">
    <div style="background-color:lightgray;;" class="ui card ">
      <div class="content">
        <div style="text-align: center;" class="header">View and Download Notes</div>
      </div>
      <div class="content">
        <div class="ui small feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                <h4 class="header">You need to sign-in with your Google's SSIPMT Account</h4>
              </div>
            </div>
          </div>
          <br>
          <div class="event">
            <div class="content">
              <div class="summary">
                <p class="description">To learn more about this website click <a href="about.html">here</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content center aligned">
        <button class="ui button blue ">Login as Student</button>
      </div>
    </div>
    <div class="padding-space" style="color: #1b1c1d;">-</div>
    <div style="background-color:lightgray;" class="ui card left aligned">
      <div class="content">
        <div style="text-align: center;" class="header">Upload and Alter Notes</div>
      </div>
      <div class="content">
        <div class="ui small feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                <h4 class="header">You need to sign-in with your secured-SSIPMT Account</h4>
              </div>
            </div>
          </div>
          <br>
          <div class="event">
            <div class="content">
              <div class="summary">
                <p class="description">Only for Faculty</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content center aligned">
        <button class="ui button blue ">Login as Faculty</button>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}
